src/main/resources/contracts/business-rule.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="businessRuleService" targetNamespace="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/">
            <xsd:element name="evaluateBusinessRule">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fuelPercentage" type="xsd:int" />
                        <xsd:element name="undercarriageStatus" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="evaluateBusinessRuleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fuelPercentage" type="xsd:int"></xsd:element>
                        <xsd:element name="undercarriageStatus" type="xsd:string" />
                        <xsd:element name="skipMaintenance" type="xsd:boolean"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="evaluateBusinessRuleRequest">
        <wsdl:part element="tns:evaluateBusinessRule" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="evaluateBusinessRuleResponse">
        <wsdl:part element="tns:evaluateBusinessRuleResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="businessRule">
        <wsdl:operation name="evaluateBusinessRule">
            <wsdl:input message="tns:evaluateBusinessRuleRequest"/>
            <wsdl:output message="tns:evaluateBusinessRuleResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="businessRuleService" type="tns:businessRule">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="evaluateBusinessRule">
            <soap:operation soapAction="http://aerolineas-latinoamericana.com/soa/business-rule-message/process-business-rule/evaluateBusinessRule"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="processBusinessRule">
        <wsdl:port binding="tns:businessRuleService" name="businessRuleSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
