src/main/resources/contracts/incidents-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aerolineas-latinoamericana.com/soa/processes/incidents-message/process-incidents-message/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="incidentService" targetNamespace="http://aerolineas-latinoamericana.com/soa/processes/incidents-message/process-incidents-message/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aerolineas-latinoamericana.com/soa/processes/incidents-message/process-incidents-message/">
      <xsd:element name="reportIncident">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="description" type="xsd:string" />
          	<xsd:element name="summary" type="xsd:string"></xsd:element>
          	<xsd:element name="category" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reportIncidentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="reportIncidentRequest">
    <wsdl:part element="tns:reportIncident" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="reportIncidentResponse">
    <wsdl:part element="tns:reportIncidentResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="incidentBinding">
    <wsdl:operation name="reportIncident">
      <wsdl:input message="tns:reportIncidentRequest"/>
      <wsdl:output message="tns:reportIncidentResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="incidentSOAP" type="tns:incidentBinding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reportIncident">
      <soap:operation soapAction="http://aerolineas-latinoamericana.com/soa/processes/incidents-message/process-incidents-message/reportIncident"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="incidentService">
    <wsdl:port binding="tns:incidentSOAP" name="incidentPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
