src/main/resources/contracts/mop.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aerolineas-latinoamericana.com/soa/mop-message/mop-rule/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mop" targetNamespace="http://aerolineas-latinoamericana.com/soa/mop-message/mop-rule/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aerolineas-latinoamericana.com/soa/mop-message/mop-rule/">
      <xsd:element name="mopEvent">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="undercarriageStatus" type="xsd:string"></xsd:element>
          	<xsd:element name="fuelPercentage" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mopEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mopEventRequest">
    <wsdl:part element="tns:mopEvent" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mopEventResponse">
    <wsdl:part element="tns:mopEventResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="mop">
    <wsdl:operation name="mopEvent">
      <wsdl:input message="tns:mopEventRequest"/>
      <wsdl:output message="tns:mopEventResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mopSOAP" type="tns:mop">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mopEvent">
      <soap:operation soapAction="http://aerolineas-latinoamericana.com/soa/mop-message/mop-rule/mopEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mop">
    <wsdl:port binding="tns:mopSOAP" name="mopSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
